@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(87, 69, 230);
}

#gameName {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

#instructions {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5rem;
}

form {
  text-align: center;
}

#resultOutput {
  margin-top: 20px;
  font-size: 1.2rem;
}

input {
  margin-top: 40px;
}

#inputValue{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  color: black;
  max-width: 400px;
  width: 250px;
  height: 2rem;
}

#subt {
  padding: 5px 15px;
  background-color: rgb(190, 53, 224);
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  border: 0.5px solid white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  height: 2rem;
}

#guessSection {
  margin-top: 40px;
  line-height: 1.5rem;
}

#container {
  background-color: rgb(87, 69, 230);
  border: 2px solid white;
  border-radius: 10px;
  height: 80%;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#startAgain {
  margin-top: 40px;
  background-color: blue;
  border: 1.7px solid white;
  border-radius: 0.5rem;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bolder;
}